*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
.background{
    width: 100%;
    height: 321vh, auto;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(images2/background.png);
    background-position: center;
    background-size: cover;
}

.underline ul li a{
    font-size: 27px;
    text-decoration: none;
    color: rgb(35, 32, 44);
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding-top: 15px;
}

.underline ul li a::after{
    content:'';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 4px;
    transform: scaleX(0);
    background-color: rgb(255, 209, 166);
    background-origin: bottom ;
    transition: 0.25s ease-out;

}
.underline ul li a:hover:after{
    transform: scaleX(1);
    transform-origin: bottom ;

}

.navbar{
    border-bottom: 1px solid black;
}
.nav_toggle{
    position: absolute;
    cursor: pointer;
    margin: 0rem 1rem;
    right: 0;
}
svg{
    width: 1.5rem;
    fill: black;
}
.close{
    display: none;
}
.menu{
    margin: 0.2rem;
    float: right;
}
.nav_menu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin: 1rem;
    margin-top: -3px;
}
:first-child{
    margin-right: auto;
    display: block;
}
a{
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
}
.nav_checkbox{
    display: none;
}
li{
    list-style: none;
    display: none;
}
#nav_checkbox:checked ~ .underline li{
    display: block;
    margin: 10px;
    margin-left: 300px;
}
#nav_checkbox:checked ~ label.nav_toggle .close{
    display: block;
}
#nav_checkbox:checked ~ label.nav_toggle .menu{
    display: none;
}


@media only screen and (min-width:1000px) {
        .nav_toggle{
            display: none;
        }
        .nav_menu{
            flex-direction: row;
        }
        li{
            display: block;
        }
}


.logo{
    width: 160px;
    cursor: pointer;
}
.navbar ul li a{
    font-size: 27px;
    text-decoration: none;
    color: rgb(35, 32, 44);
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding-top: 35px;
}
.navbar ul li a::after{
    content:'';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 4px;
    transform: scaleX(0);
    background-color: rgb(255, 209, 166);
    background-origin: bottom ;
    transition: 0.25s ease-out;

}
.navbar ul li a:hover:after{
    transform: scaleX(1);
    transform-origin: bottom ;

}
.depression,.anxiety,.psychotic{
    text-align: left;
    margin: 25px;
    padding: auto;
    color: #fff;
    font-size: 30px;
    padding-left:120px;
}
.sym,.sym2,.sym3{
    margin: 20px;
    padding: 50px;
    font-size: 25px;
}
.button,.button2,.button3,.button4{

        border: none;
        color: black;
        padding: 15px 32px;
        background-color: antiquewhite;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 25px;
        position: relative;
        left: 100px;
        
}
.button4{
    top: -50px;
    font-size: 19px;
}
.button a,.button2 a,.button3 a,.button4 a{
    text-decoration: none;
    color: black;
}
.underline,h5{
    text-decoration:underline;
    text-decoration-color: rgb(255, 209, 166);
    text-decoration-thickness: 4px;
}

.arrowup{
    bottom: 83px;
    z-index: 100;
    position: fixed;
    margin-left: 80%;
    width: 50px;
    cursor: pointer;
}

@media only screen and (max-width:800px){
    .background{
        height: 207vh;
    }
}
@media only screen and (max-width:700px) {
    .arrowup{
        margin-left: 60%;
    }
}